# Baackend
backend/vendor
backend/composer.lock
backend/composer.phar
backend/.phpunit.cache
backend/.env

# Logs and storage
backend/storage/

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/package-lock.json
/frontend/.env

# System
.idea/
.vscode/